<form (submit)="addUrl()">
  <input [(ngModel)]="newUrl" name="newUrl" placeholder="Url or Text">
  <button type="submit">Add</button>
</form>

<ul class="">
  <li *ngFor="let url of urlList">
    <i class="icon ion-close" style="color:red" (click)="removeUrl(url)"></i>
    <span class="url-item">{{url}}</span></li>
</ul>