<div>
    <nav class="">
        <div *ngFor="let video of getVideoList(); let i = index">
            <section class="video-container" class="col-xs-2">
                <div #img class="video-image" [style.background-image]="'url(' + video.image + ')'">
                    <span>&nbsp;</span>
                </div>
                <div class="time-range" *ngIf="video.id">
                    <span>{{video.startTime}}</span> - <span>{{video.endTime}}</span>
                </div>
            </section>
        </div>
    </nav>
</div>