:host {
  display: block;
  height: 48px;
  /*padding: 0 16px;*/
}


.video-image{
  background-size: cover;
  background-position: center;
}

.time-range {
  text-align: center;
  font-weight: 300;
}

.col-xs-2 {
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid white;
}
