<div class="action-container">
    <button (click) = "mergeVideos()">Build</button>
</div>

<div *ngIf="video">
    <video #mainVideo [src]="'http://127.0.0.1:3000/video/static?video=' + video.url" [poster]="video.image" controls (click)="togglePlay(mainVideo)" autoplay loop>
        
    </video>
</div>