:host {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.card {
  overflow: auto;
  padding: 10px;
  background-color: #FFFFFF;
}

.video-image{
  background-size: cover;
  background-position: center;
  max-width:220px;
  max-height:220px;
  min-width:100px;
  min-height:100px;
  width: auto;
  height: auto !important;
}
