<ul class="">
  <li *ngFor="let video of videoList">
    <div class="card" (click)="selectVideo(video)">
      <section>
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3" style="width:auto;">
          <div #img class="video-image" [style.background-image]="'url(' + video.image + ')'">
          </div>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
          <strong class="video-title">{{video.title}}</strong>
          <p class="video-description">{{video.description}}</p>
        </div>
      </section>
    </div>
  </li>
</ul>