:host {
  display: block;
  padding: 0 16px;
}

#url-list {
  min-height: 300px;
  background-color: #FFFFFF;
}

#video-preview {
  position: fixed;
  z-index: 1000;
  height: auto;
}

#videos-result {
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0px;
}