<div *ngIf="selectedVideo" id="video-preview" class="col-xs-8 col-xs-offset-2">
  <sd-video-preview [video]="selectedVideo" (submition)="onVideoSubmit($event)"></sd-video-preview>
</div>

<p><i>Creativity is thinking up new things. Innovation is doing new things.</i></p>

<div class="col-xs-7">
  <div id="url-list" class= "row">
    <sd-url-list (submition)="onUrlChange($event)"></sd-url-list>
  </div>

  <div id="videos-to-build" class= "row">
    <sd-videos-to-build [videosToBuildList]="videoToBuildList"></sd-videos-to-build>
  </div>

  <div id="make-build" class="row">
    <sd-make-build [video]="builtVideo" (build)="onBuild()"></sd-make-build>
  </div>
</div>

<div id="videos-result" class="col-xs-5">
  <sd-videos-result [videoList]="videoList" (selection)="onSelectVideo($event)"></sd-videos-result>
</div>
