:host {
  display: block;
}

video {
  width: 100%;
  height: auto;
}

.row {
  text-align: center;
  padding: 10px;
}

.wrapper {
  background: rgba(0,0,0,0.55);
}

.action-container {
  margin-top: 25px;
  text-align: center;
}