<div class="wrapper">
    <video #mainVideo [src]="video.source" [poster]="video.image" controls (click)="togglePlay(mainVideo)" autoplay>
        Something went wrong with the video
    </video>
    <div class="row">
        <input [(ngModel)]="startTime" type="text" name="Start Time" placeholder="Start Time">
        <input [(ngModel)]="endTime" type="text" name="End Time" placeholder="End Time">
        <button type="" (click)="sendToBuild()">add to build</button>
    </div>
</div>
