<p>CUEMBY Presents For NBCHackathon:</p>

<h2>Canned Editor App</h2>
<p>Developed by:</p>
<ul>
  <li>David Llaca Martin - <i>Front End Developer</i></li>
  <li>Adrian Cardenas - <i>Back End Developer</i></li>
  <li>Frances Morales - <i>Front End and Designer</i></li>
  <li>Manasi Sharma - <i>Full Stack Developer</i></li>
  <li>Cristher Castro - <i>Marketing and Designer</i></li>
  <li>Angel Ramirez - <i>Back End Developer</i></li>
</ul>
