<div id="spinner" class="spinner" style="display:none; position: fixed;top: 50%;left: 50%;margin-left: -150px;margin-top: -50px;text-align:center;z-index:1234;overflow: auto;height: 102px;">
    <img id="img-spinner" src="./assets/ajax-loader.gif" alt="Loading" style="height: 30px;"/>
</div>
<div id="dark-overlay" style="position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:10;display:none;"></div>
<sd-toolbar style="background-color:#ececec"></sd-toolbar>
<sd-navbar style="border-bottom:1px solid #106cc8;"></sd-navbar>
<router-outlet (selectVideo)="onSelectVideo($event)"></router-outlet>
